local_nginx_location=/usr/local/etc/nginx/servers
remote_nginx_location=/etc/nginx/conf.d
local_app_location=~/home
remote_app_location=/var/www/html
app_name=
user=deploy
key=~/.ssh/id_rsa
server=servername.de
url=app.servername.de
branch=main
repo=https://github.com/you/youradd.git
local_rbenv=~/.rbenv
remote_rbenv=/root/.rbenv
