local_nginx_location=/usr/local/etc/nginx/servers
remote_nginx_location=/etc/nginx/conf.d
local_app_location=~/home
remote_app_location=/var/www/html
app_name=your_app_name_here
ruby_version=2.6.5
user=deploy
key=~/.ssh/deploy
server=yourserver.name
url=app.yourserver.name
branch=main
repo=https://github.com/you/yourapp.git
local_ruby_location=~/.rbenv/shims/ruby
remote_ruby_location=/home/deploy/.rbenv/shims/ruby
